.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

/node_modules

/dist

/public

.vite-cache
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

/backend/build/
/backend/test/build/

*.o                
*.a                
*.so               
*.so.*             
*.out              

/docs
docs

logs
logs/