.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace


/node_modules

/dist

.vite-cache
.env.local
.env.*.local

# 调试日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

/backend/build/
/backend/test/build/

*.o                # 目标文件
*.a                # 静态库
*.so               # 共享库 (Linux)
*.so.*             # 带版本的共享库
*.out              # 通用可执行文件输出名

/docs
docs

